{% extends "WebtownPhpBannerBundle:Admin:preview_base.html.twig" %}

{% trans_default_domain "WebtownPhpBannerBundle" %}

{% block content %}
{% if object.isFlashEnabled %}
<h3>{{ "content_name_flash" | trans }}</h3>
{{ object.content }}
{% endif %}

{% if object.isImageEnabled %}
<h3>{{ "content_name_image" | trans }}</h3>
<img src="{{ object.content }}" alt="" />
{% endif %}

{% if object.isHtmlEnabled %}
<h3>{{ "content_name_html" | trans }}</h3>
{{ object.content }}
{% endif %}
{% endblock %}
